<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ *********************************************************
  ~ *  Copyright (c) 2019  Kiusoftech
  ~ *  Created by Bama Kant Kar on 4/6/19 12:54 AM
  ~ *  All rights reserved.
  ~ *  Last modified 4/6/19 12:51 AM
  ~ *********************************************************
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.kiu.example.outhum">

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".VideoActivity">
        </activity>
        <activity android:name=".Gif2VideoActivity">
        </activity>
        <activity android:name=".Image2VideoActivity">
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>